/* 
 * This is based off of the et-book css
 */

@import 'et-book.css';

* {
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: #fffff8;
    color: #303030;
    font-size: 15px;
}

@media (max-width: 786px) {
    html {
        font-size: 12px;
    }
}

*, *:after, *:before, input {
    font-family: inherit;
    box-sizing: inherit;
}

body {
    line-height: 1.4;
    width: 48em;
    margin: 4em auto;
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

@media (max-width: 786px) {
    body {
        margin: 2em auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #505050;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.2;
    margin-top: 2em;
    margin-bottom: 0
}

h1 {
    font-size: 3.2em;
    line-height: 1;
    margin-top: 2em;
    margin-bottom: .5em;
}

@media (max-width: 786px) {
    h1 {
        margin-top: 0;
    }
}

h2 {
    font-style: italic;
    font-size: 2.3em;
    margin-top: 1.7em;
}

p, ol, dl, ul {
    font-size: 1.4em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    color: #151515;
}

a:link:not([class]), a:visited:not([class]) {
    color: inherit;
}

a:link:not([class]) {
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#989892, #989892);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#989892, #989892);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link:not([class]) {
        background-position-y: 87%, 87%, 87%;
    }
}

a:link:not([class])::selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}

a:link:not([class])::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}

pre {
    margin: 2em 1em 2em 1em;
    white-space: pre-wrap;
    display: block;
    padding: 1rem;
}

code {
    color: #bf616a;
    background: #f9f9f9;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.1rem;
    line-height: 1.42;
}

.src {
    background: #f9f9f9;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.1rem;
    line-height: 1.42;
}

nav {
    border-bottom: 1px solid black;
}

#site-header h1 {
    margin-top: 0.5em;
}


#site-header ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#site-header li {
    display: inline-block;
}

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
    list-style-type: none;
}

#text-table-of-contents ul > li > ul {
    /* if we dont inherit the font size, the second level's font is larger than the rest */
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

.published {
    font-style: italic;
    color: #707070;
}
